<div class="col-xs-12 col-sm-2 advertising_field">
    <center>Реклама:</center>

    <!-- Advertising example -->

    <!--
    <a class='window_link advertising_window' target="_blank" href='https://vk.com/udmwork'>
        <div class='window_ads_full'>
            <img width='189' height='255' class='ads_img' src='/template/images/category/art.png'/> <br>
            Advertising example
        </div>

    </a>
    -->

    <!-- Advertising card -->

    <a class='window_link advertising_window' target="_blank" href='https://vk.com/club146125478'>
        <div class='window_ads_full'>
            <img width='90' height='90' src='/template/images/category/art.png'/> <br>
            Разработка любого дизайна. Быстро, недорого!
        </div>

    </a>

    <!-- Advertising add -->

    <a class='window_link advertising_window' href='https://vk.com/im?media=&sel=440434126'>
        <div class='window_ads_full'>
            Добавить свою рекламу
        </div>
    </a>


</div>